.hide{
    display: none;
}
* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20;
}
.select-episode{
    margin: 20px;
}
.searchbar-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 5rem;
    border: 1px solid black;
    width: 20rem;
    height: 2rem;
    padding: 5px;
}
.searchbar{
    width: 90%;
    border: none;
    color: black;
    background-color: transparent;
    outline: none;
}
.select-episode{
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 5rem;
    border: 1px solid black;
}
.episodes {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2.5rem;
	padding: 0 2%;
}
.card {
	width: 20rem;
	border-radius: 1rem;
	background-color: transparent;
	overflow: hidden;
    border: 1px solid gray;
}

.card-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.card-body {
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
}

.card-information {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.card-infoSeason{
    color: red;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}
.card-button{
    color: white;
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}
.card-button:hover{
    background-color: white;
    color: red;
}
.tvmaze-api-license{
    margin: 10px;
}
.tvmaze-api-license a{
    color: white;
    text-decoration: none;
}
.tvmaze-api-license a:hover{
    color: white;
    text-decoration: underline;
}
.designer{
    color: white;
    text-align: center;
    padding: 10px;
}
.footer{
    margin: 0;
    padding: 0;
    background-color: gray;
    position: relative;
    max-width: 100%;
    display: block;
}
